{% extends "layout/layout.html" %}


{% block title -%}

LifeTime - {{ translate('title_countries').capitalize() }}

{%- endblock %}


{% block description -%}

{{ translate('description_countries') }}

{%- endblock %}


{% block opengraph -%}

<meta name="og:title" content="LifeTime - {{ translate('title_countries').capitalize() }}">
<meta name="og:description" content="{{ translate('description_countries') }}">
<meta name="og:url" content="{{ site_addr }}/{{ language }}/countries">
<meta name="og:site_name" content="LifeTime">
<meta name="og:type" content="website">

{%- endblock %}


{% block schemaorg -%}

<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "LifeTime - {{ translate('title_countries').capitalize() }}",
        "description": "{{ translate('description_countries') }}",
        "url": "{{ site_addr }}/{{ language }}/countries",
        "copyrightYear": 2020,
        "dateCreated": "2020-03-05",
        "creator": {
            "@type": "Person",
            "name": "Vadym Hutei",
            "url": "",
            "image": "",
            "sameAs": "https://github.com/VadymHutei"  
        }
    }
</script>

{%- endblock %}


{% block alternate -%}

{% for code, lang in languages.items(): %}
{% if code != language: %}
<link rel="alternate" hreflang="{{ lang['iso_639-1'] }}" href="{{ site_addr }}/{{ code }}/countries" />
{% endif %}
{% endfor %}

{%- endblock %}


{% block content -%}

<section>
    <h1>{{ translate('list of countries').capitalize() }}</h1>
    <h2>{{ translate('world and regions').capitalize() }}</h2>
    {% for _, country in countries.items() %}
    {% if country['type'] == 'world': %}
    <p><a href="{{ site_addr }}/{{ language }}/{{ country['alias'] }}">{{ country['name'][language] }}</a></p>
    {% endif %}
    {% endfor %}
    {% for _, country in countries.items() %}
    {% if country['type'] == 'region': %}
    <p><a href="{{ site_addr }}/{{ language }}/{{ country['alias'] }}">{{ country['name'][language] }}</a></p>
    {% endif %}
    {% endfor %}
    <br>
    <h2>{{ translate('countries').capitalize() }}</h2>
    {% for _, country in countries.items() %}
    {% if country['type'] == 'country': %}
    <p><a href="{{ site_addr }}/{{ language }}/{{ country['alias'] }}">{{ country['name'][language] }}</a></p>
    {% endif %}
    {% endfor %}
</section>

{%- endblock %}
