{% extends "layout/layout.html" %}


{% block title -%}

LifeTime - {{ translate('title_home').capitalize() }}

{%- endblock %}


{% block description -%}

{{ translate('description_home') }}

{%- endblock %}


{% block opengraph -%}

<meta name="og:title" content="LifeTime - {{ translate('title_home').capitalize() }}">
<meta name="og:description" content="{{ translate('description_home') }}">
<meta name="og:url" content="{{ site_addr }}/{{ language }}">
<meta name="og:site_name" content="LifeTime">
<meta name="og:type" content="website">

{%- endblock %}


{% block schemaorg -%}

<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "LifeTime",
        "description": "{{ translate('description_home') }}",
        "url": "{{ site_addr }}/{{ language }}",
        "copyrightYear": 2020,
        "dateCreated": "2020-03-05",
        "creator": {
            "@type": "Person",
            "name": "Vadym Hutei",
            "sameAs": "https://github.com/VadymHutei"  
        }
    }
</script>

{%- endblock %}


{% block alternate -%}

{% for code, lang in languages.items(): %}
{% if code != language: %}
<link rel="alternate" hreflang="{{ lang['iso_639-1'] }}" href="{{ site_addr }}/{{ code }}" />
{% endif %}
{% endfor %}

{%- endblock %}


{% block content -%}

<h1>{{ translate('title_home').capitalize() }}</h1>

<section>
    {% set text_template = 'pages/home/text_' + language + '.html' %}
    {% include text_template ignore missing with context %}
</section>

<section>
    <form action="/{{ language }}/result" method="get">
        <input type="hidden" name="country" value="{{ world['id'] }}">
        <fieldset>
            <legend>{{ translate('date of birth').capitalize() }}</legend>
            <input type="date" name="birth_date" required>
        </fieldset>
        <fieldset>
            <legend>{{ translate('sex').capitalize() }}</legend>
            <input type="radio" name="sex" value="1" hidden checked>
            <label>
                <input type="radio" name="sex" value="2">
                {{ genders[2][language]['name'] }}
            </label>
            <label>
                <input type="radio" name="sex" value="3">
                {{ genders[3][language]['name'] }}
            </label>
        </fieldset>
        <input type="submit" value="{{ translate('submit').capitalize() }}">
    </form>
</section>

{%- endblock %}
