<!DOCTYPE html>
<html lang="{{ language['iso_639-1'] }}">
    <head>
        {% include 'components/gtag.html' ignore missing without context %}
        {% include 'components/adsense.html' ignore missing without context %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}{% endblock %}">
        <title>{% block title %}{% endblock %}</title>
        {% block alternate %}{% endblock %}
        {% block opengraph %}{% endblock %}
        {% block schemaorg %}{% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    </head>
    <body>
        {% include "layout/header.html" ignore missing with context %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include "layout/footer.html" ignore missing without context %}
    </body>
</html>
