<!DOCTYPE html>
<html>
    <head>
        {% include 'gtag.html' %}
        {% include 'adsense.html' %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}{% endblock %}"> 
        <title>{% block title %}{% endblock %}</title>
        {% block opengraph %}{% endblock %}
        {% block schemaorg %}{% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
    </head>
    <body>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p><a href="https://github.com/VadymHutei/lifetime">GitHub</a></p>
            <p>&copy; 2020 <a href="https://github.com/VadymHutei">Vadym Hutei</a></p>
        </footer>
    </body>
</html>
