{% extends "layout.html" %}

{% block title %}{{ translate('title_home') }}{% endblock %}

{% block description %}Find out how much you have left to live{% endblock %}

{% block opengraph %}
<meta name="og:title" content="LifeTime - how long will you live">
<meta name="og:description" content="Find out how much you have left to live">
<meta name="og:url" content="http://lifetime.hutei.net/">
<meta name="og:site_name" content="LifeTime">
<meta name="og:type" content="website">
{% endblock %}

{% block schemaorg %}
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "LifeTime",
        "url": "http://lifetime.hutei.net/",
        "copyrightYear": 2020,
        "creator": {
            "@type": "Person",
            "name": "Vadym Hutei",
            "url": "",
            "image": "",
            "sameAs": "https://github.com/VadymHutei"  
        }
    }
</script>
{% endblock %}

{% block content %}
<h1>LifeTime</h1>
<form action="/{{ language }}/result" method="get">
    <fieldset>
        <legend>{{ translate('country').capitalize() }}</legend>
        <select name="country">
            <option value="{{ world['id'] }}" selected>{{ world['name'][language] }}</option>
            <optgroup label="Regions">
                {% for region_id in regions: %}
                <option value="{{ region_id }}">{{ regions[region_id]['name'][language] }}</option>
                {% endfor %}
            </optgroup>
            <optgroup label="Countries">
                {% for country_id in countries: %}
                <option value="{{ country_id }}">{{ countries[country_id]['name'][language] }}</option>
                {% endfor %}
            </optgroup>
        </select>
    </fieldset>
    <fieldset>
        <legend>{{ translate('date of birth').capitalize() }}</legend>
        <input type="date" name="birth_date" required>
    </fieldset>
    <fieldset>
        <legend>{{ translate('sex').capitalize() }}</legend>
        <input type="radio" name="sex" value="1" hidden checked>
        <label>
            <input type="radio" name="sex" value="2">
            {{ genders[2][language]['name'] }}
        </label>
        <label>
            <input type="radio" name="sex" value="3">
            {{ genders[3][language]['name'] }}
        </label>
    </fieldset>
    <input type="submit" value="{{ translate('submit').capitalize() }}">
</form>
{% endblock %}
