{% extends "layout.html" %}

{% block title %}LifeTime{% endblock %}

{% block content %}
<h1>LifeTime</h1>
<form action="/result" method="get">
    <fieldset>
        <legend>Country</legend>
        <select>
            <option value="World" selected>World</option>
            <optgroup label="Regions">
                {% for region in regions: %}
                <option value="{{ region }}">{{ region }}</option>
                {% endfor %}
            </optgroup>
            <optgroup label="Countries">
                {% for country in countries: %}
                <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </optgroup>
        </select>
    </fieldset>
    <fieldset>
        <legend>Date of birth</legend>
        <input type="date" name="birth_date">
    </fieldset>
    <fieldset>
        <legend>Sex</legend>
        <label>
            <input type="radio" name="sex" value="m">
            m
        </label>
        <label>
            <input type="radio" name="sex" value="f">
            f
        </label>
    </fieldset>
    <input type="submit">
</form>
{% endblock %}
